.expenses {
  padding: 1rem;
  background-color: rgb(26, 47, 26);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
.noData {
  padding: 1rem;
  background-color: rgb(214, 6, 65);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 15px;
}
